<div class="box tabular">
<% @econtact.custom_field_values.each do |v| %>
    <p>
      <label for="<%= custom_field_tag_name('',v.custom_field) %>"><%= h(v.custom_field.name) %></label>
      <%= format_value(v.value,v.custom_field) %>
    </p>
<% end %>
</div>
