<h2>EasyContactsController#index</h2>

<% @econtacts.each do |citem| %>
<div>Name:<%= citem.first_name %></div>
<% end %>
                                                                                                                     
                                 
